# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/custom-sidebar/custom-sidebar-yaml.js

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 100.64.0.0/10

zeroconf:
  default_interface: true

shell_command:
  get_entity_alias: jq '[.data.entities[] | select(.options.conversation.should_expose == true and (.aliases | length > 0)) | {aliases, entity_id}]' ./.storage/core.entity_registry

template:
  - triggers:
    - trigger: time_pattern
      minutes: 5
    - platform: homeassistant
      event: start
    actions:
      - service: shell_command.get_entity_alias
        data: {}
        response_variable: result
    sensor:
      - name: "Entity IDs mit Alias"
        state: '0'
        attributes:
          entities: "{{result.stdout}}"
