name: nix build

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    # Only run on PRs with the 'flake' label
    if: contains(github.event.pull_request.labels.*.name, 'flake')
    outputs:
      matrix: ${{ steps.eval-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31

      - id: eval-matrix
        name: Generate Nix Matrix
        run: |
          set -Eeu
          matrix="$(nix eval --accept-flake-config --json '.#githubActions.matrix')"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"

  build:
    runs-on: ubuntu-latest
    needs: define-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.define-matrix.outputs.matrix) }}
    concurrency:
      group: ${{ github.workflow }}.${{ github.event.pull_request.number || github.ref }}.${{ matrix.host }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4
      - uses: wimpysworld/nothing-but-nix@main
      - uses: cachix/install-nix-action@v31
        # with:
        #   extra_nix_config: |
        #     max-jobs = auto
        #     builders = @/etc/nix/machines
        #     max-substitution-jobs = 64
        #     http-connections = 64

      # - name: Configure remote builders
      #   run: |
      #     sudo sh -c "umask 377; echo '${{ secrets.BUILDER_SSH_KEY }}' >/etc/nix/id_builder_key"
      #
      #     sudo sh -c "echo 'ssh://root@195.201.39.140 aarch64-linux /etc/nix/id_builder_key 40 2 aarch64-linux,kvm,big-parallel - -' >/etc/nix/machines"
      #     sudo sh -c "echo '195.201.39.140 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJcsxyrD9ha0lnu2i/QIFz1LpnCObCS+tO/cO542Jy/U' >>/etc/ssh/ssh_known_hosts"

      - name: Build ${{ matrix.host }}
        run: |
          nix run nixpkgs#nixos-rebuild -- build --accept-flake-config --flake ".#${{ matrix.host }}"

          # Store the build result path
          echo "RESULT_PATH=$(readlink -f result)" >> $GITHUB_ENV

      - name: Push to niks3 cache
        env:
          NIKS3_SERVER_URL: https://cache.keyruu.de
          NIKS3_AUTH_TOKEN: ${{ secrets.NIKS3_AUTH_TOKEN }}
        run: |
          # Install niks3
          nix profile install github:Mic92/niks3

          # Push the built system closure to cache
          niks3 push "$RESULT_PATH"
